<%= link_to "Back to all movies", movies_path %>
  <h2><%= @movie.title %> (<%=link_to "edit", edit_movie_path(@movie)%> <%= link_to "delete", post_path(@post), :method => :delete, :"data-confirm" => "Are you sure?" %>)</h2>
  <h3><%= @movie.director %></h3>
  <small><%= @movie.runtime_in_minutes %><%= @movie.release_date %></small>
  <p><%= @movie.description%></p>
  <small><%= !movie.post_image_url %></small>
<% end %>